.root {
  padding: 20px;
}

.list-wrapper {
  width: 300Px;
  position: relative;
  height: 300Px;
  overflow: hidden;
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.item {
  height: 100Px;
  transition: 1s;
}

.item__pic {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-wrapper {
  height: 100%;
}

.outsided {
  bottom: 100%;
  position: absolute;
}

.transition {
  transition: .5s;
}

.fade {
  opacity: 0;
  transition: 1s;
}