script(type="text/x-template")#animation
  div.root
    button(@click="slide('up')") вверх
    button(@click="slide('down')") вниз
    .list-wrapper
      transition-group(
        tag="ul"
        :css="false"
        @enter="enterCb"
        @after-enter="afterCb"
        @leave="leaveCb"
      ).list
        li.item(v-for="work in splicedWorks" :key="work.id")
          .item-wrapper
            img(:src="work.photo", alt="").item__pic