include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .modal-container
          div
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem magnam ratione quasi alias adipisci molestias
            | doloribus, provident eum natus rerum, numquam delectus cum at nobis consectetur deserunt perspiciatis eveniet
            | temporibus.
          button.openOverlay Открыть
          script#overlayTemplate(type='template').
            <div class="overlay">
                <div class="inner">
                    <a class="close" href="#">x</a>
                    <div class="content"></div>
                </div>
            </div>

        .slider-container
          a#left.arrow(href='#') &larr;
          .slider
            #items.items
              - for (var i = 1; i <= 10; i++)
                .item #{i}
          a#right.arrow(href='#') &rarr;

        .form-container
          #form-comp


                  
    include ./templates/entry.pug